@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@700&family=PT+Sans:wght@700&display=swap');
body{
font-family: 'Noto Serif', serif;
font-family: 'PT Sans', sans-serif;
  background-image: url("bg.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-blend-mode: multiply;
  background-color: #666666;
}
#weather{
  margin-top: 3rem;
  background-color: rgba(255,255,255,0.7);
  text-align: center;
  padding: 1rem;
  border-radius: 7px;
  display: none;
}
@media only screen and (max-width: 600px) {
    h1, h2{
        font-size: 2rem;
    }
    img{
        width: 64px;
        height: 64px;
    }
  }